* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/* first mobile */

/* HEADER */

header {
    .bg-nav {
        background-color: #140E06;
        color: whitesmoke;
    }

    .container-fluid {
        .navbar-logo {
            width: 15%;
            img {
                width:100%;
            }
        }
        .items-nav {
            .navbar-nav {
                .links-nav {
                    a {
                        color: whitesmoke;

                    }
                }
            }

            .buscador {
                .btn-color {
                    background-color: #BE996F;
                    color: #140E06;
                    border: #140E06;
                }
            }
        }
    }

}

/* MAIN */

main {
    .noticias {
        h1 {
            margin: 35px 0px;
            text-align: center;
        }
        .caratulas {
            display: grid;
            grid-template-columns: repeat(2, 1fr) ;
            grid-template-rows:repeat(2, 55%) ;
            align-items: center;
            text-align: center;
            gap: 10px;
            div {
                h2{
                    margin: 10px 0px;
                    font-size: 25px;
                }
                img {
                    width: 90%;
                }

                p {
                    padding: 10px;
                }
                
                .noticia-cinco {
                    grid-column: span 2;
                }
            }
        }
    }
}